.add-comment-user-info {
	display flex
	flex-direction row
	align-items center
}

.add-comment-user {
	font-size 18px
	font-weight bold
	margin-left 10px
}

.add-comment-section {
	margin-left 10px
}

.add-comment-textarea {
	margin-top 10px
	border 1px #C4C4C4 solid
	border-radius 5px
	outline none
	padding 10px 10px
	width 92%
}

.add-comment-upload-img {
	border 1px #C4C4C4 solid
	border-radius 5px
	border-style dashed
	width 22%
	height 80px
	margin-top 10px
	display flex
	justify-content center
	align-items center
}

.add-comment-btn {
	background rgba(128, 128, 128, 0.6)
	width 92%
	height 30px
	margin-left 10px
	margin-top 30px
	border-radius 5px
	outline none
	font-size 18px
}

.add-comment-btn:hover {
	background #FAECBB
}


