.card-frame {
	border 1px #C4C4C4 solid
	box-shadow 0 2px 6px 0 rgba(0,0,0,0.2)
	transition 0.3s
	display flex
	flex-direction column
	align-items center
	background-color white
}

.card-frame:hover {
	box-shadow 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.card-layout {
	display flex
	flex-direction column
	width 94%
}

.card-pic {
	object-fit cover
	margin-top 10px
}

.card-des {
	margin-top 10px
	display flex
	flex-direction row
	justify-content space-between
}

.card-title {
	font-weight bold
	font-size 16px
	width 75%
	text-overflow ellipsis
	white-space nowrap
	overflow hidden
}

.card-people {
	display flex
	flex-direction row
}

.card-people-txt {
	margin-left 5px
	font-size 14px
}

.card-time-txt {
	margin-top 10px
	margin-left 5px
	color gray
	font-size 14px
}

.card-flip {
	perspective 1000px
	background-color white
}

.card-flip-inner {
	position relative
	width 100%
	height 100%
	text-align center
	transition transform 0.6s
	transform-style preserve-3d
	border 1px #C4C4C4 solid
	box-shadow 0 2px 6px 0 rgba(0,0,0,0.2)
}

.card-flip:hover .card-flip-inner {
	transform rotateY(180deg)
}

.card-flip-front, .card-flip-back {
	position absolute
	width 100%
	height 100%
	-webkit-backface-visibility hidden
	backface-visibility hidden
}

.card-flip-front {
	display flex
	justify-content center
}

.card-flip-back {
	display flex
	justify-content center
	align-items center
	transform rotateY(180deg)
}

.card-flip-back-bd {
	width 80%
	height 60%
	display flex
	flex-direction column
	justify-content space-around
	align-items center
}

.card-flip-hr {
	border-top 1px solid #c4c4c4
	width 80%
}

.card-flip-des {
	font-size 14px
	display -webkit-box	
	-webkit-box-orient vertical
	-webkit-line-clamp 5
	overflow hidden
}