.comment-header {
	width 100%
	display flex
	justify-content space-between 
	align-items center 
}

.comment-user {
	display flex
	flex-direction row
	align-items center
}

.comment-user-name {
	font-size 18px
	font-weight bold
	margin-left 10px
}

.comment-button {
	width 40px
	height 40px
	display flex
	justify-content center
	align-items center
}

.comment-button:hover {
	border-radius 100%
	background-color #e9e9e9
}

.comment-content {
	margin-left 10px
	margin-top 5px
	font-size 16px
}

.comment-img-date {
	display flex
	justify-content space-between
	align-items flex-end
	width 98%
}

.comment-img-section {
	margin-top 15px
	width 100%
	overflow-x auto
	display flex
	flex-direction row
}

.comment-photo {
	width 120px
	height 120px
	margin-right 10px
	object-fit cover
}

.comment-date {
	font-size 14px
	color gray
	margin-left 10px
}

.comment-content-txt-hidden {
	margin-top 5px
	display -webkit-box
	-webkit-box-orient vertical
	-webkit-line-clamp 4
	overflow hidden
}

.comment-content-txt {
	margin-top 5px
}

.comment-more {
	font-weight bold
}

.comment-more:hover {
	text-decoration underline
}

.comment-thumbup {
	display flex
	align-items center
	margin-top 15px
}

#style-3::-webkit-scrollbar-track {
	-webkit-box-shadow inset 0 0 0 rgba(0, 0, 0, 0.3)
	background-color #eeeeee
	border-radius 5px
}

#style-3::-webkit-scrollbar {
	height 10px
}

#style-3::-webkit-scrollbar-thumb {
	background-color rgb(196, 196, 196)
	border-radius 5px
}

.comment-pin {
	display flex
	justify-content space-between
	align-items center
	width 40px
	background-color #FAECBB
	padding 3px 8px 3px 8px
	border-radius 30px
}


