.hintImg-cover {
	position: relative;
  width: 250px;
  height: 200px;
}

.hintImg-cover::before {
	content: " ";
	position: absolute;
  width: 250px;
  height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
}

.hintImg-txt {
	color: white;
	position: absolute;
	opacity: 0;
	width: 250px;
  height: 200px;
	transform: translatey(130px);
	transition: all 1s ease-out;
	broder: 1px red solid;
}

.hintImg-txt:hover {
	opacity: 1;
	transform: translatey(70px);
}

.hintImg-bg {
	object-fit: cover;
}

