.hintImg-no-cover {
	position: relative;
  width: 250px;
  height: 200px;
	display: flex;
	justify-content: center;
}

.hintImg-cover {
	position: relative;
  width: 250px;
  height: 200px;
	display: flex;
	justify-content: center;
}

.hintImg-cover::before {
	content: " ";
	position: absolute;
  width: 250px;
  height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
}

.hintImg-txt {
	position: absolute;
	opacity: 0;
	transform: translatey(250px);
	transition: all 1s ease-out;
}

.hintImg-cover:hover .hintImg-txt {
	opacity: 1;
	transform: translatey(140px);
}

.hintImg-no-cover:hover .hintImg-txt {
	opacity: 1;
	transform: translatey(140px);
}

.hintImg-bg {
	object-fit: cover;
}

