.navbar-frame {
	background-color: #FAECBB;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-title {
	font-size: 14px;
	margin-top: 5px;
}

.navbar-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}