.spot-nearby {
	display flex
	justify-content space-between
	width 250px
}

.spot-nearby-photo {
	width 120px
	height 90px
	object-fit cover
}

.spot-nearby-des {
	height 90px
	display flex
	justify-content space-between
	flex-direction column
}

.spot-nearby-distance {
	font-size 14px
	color gray
}