.popup-btn {
	border none
	background-color white
}

.popup-window-fixed {
	width 100%
	height 100vh
	top 0
	left 0
}

.popup-layout {
	display flex
	justify-content center
	align-items center
	position fixed
	z-index 99
}

.popup-box {
	position fixed
	background rgba(255, 255, 255, 0.8)
}

.popup-mesg {
	position relative
	background #fff
	padding 20px
	border-radius 5px
	border 1px #C4C4C4 solid
	box-shadow 0 2px 6px 0 rgba(0,0,0,0.2)
	overflow auto
	min-height 70px
}

.popup-header {
	display flex
	justify-content space-between
	align-items center
	width 100%
}

.popup-hr {
	border-top 1px solid #C4C4C4
	width 100%
	margin-top 10px
	margin-bottom 10px
}

.popup-no-header-content {
	weight 100%
	max-height 98%
}

.popup-content {
	weight 100%
	max-height 85%
}

.popup-cancel-btn {
	width 40px
	height 40px
}

.popup-cancel-btn:hover {
	border-radius 100%
	background-color #e9e9e9
}

.user-confirm {
	display flex
	justify-content flex-end
}

.user-confirm-btn {
	border 1px #C4C4C4 solid
	padding 5px 10px
	border-radius 5px
	margin-left 10px
}

.user-confirm-btn:hover {
	background-color #f4f4f4
}