.post-image {
	width: 180px;
	height: 150px;
	overflow: hidden;
}

.post-des {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.post-name {
	font-weight: bolder;
}

.post-addr {
	display: flex;
	flex-direction: row;
}

.post-addr-txt {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
}