.postwall-layout {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.postwall-title {
	position: absolute;
	z-index: 1;
	font-size: 30px;
	font-family: "cwTeXFangSong", serif;
	color: white;
}

.postwall-des-layout {
	width: 140px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 1;
	margin-top: 50px;
}

.postwall-des {
	font-family: "cwTeXFangSong", serif;
	color: white;
}

.postwall-img-overfit {
	overflow: hidden;
}

.postwall-cover {
	position: relative;
	width: 280px;
	height: 200px;
}

.postwall-cover::before {
	content: " ";
	width: 280px;
	height: 200px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}

.postwall-cover:hover {
	transform: scale(1.2, 1.2);
	transition: all 1s ease-out;
}

.postwall-no-cover {
	position: relative;
	width: 280px;
	height: 200px;
}

.postwall-img {
	width: 280px;
	height: 200px;
	object-fit: cover;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);