.post-image {
	object-fit: cover;
}

.post-des {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}

.post-name {
	font-weight: bolder;
}

.post-addr {
	display: flex;
	flex-direction: row;
}

.post-addr-txt {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
}

.post-sort {
	display: flex;
	justify-content: space-around;
	fles-direction: row;
}