.post-pic {
	overflow: hidden;
}

.post-image {
	object-fit: cover;
}

.post-des {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 8px;
}

.post-name {
	font-weight: normal;
}

.post-addr {
	display: flex;
	flex-direction: row;
}

.post-addr-txt {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
}

.post-sort {
	display: flex;
	justify-content: space-around;
	fles-direction: row;
}

.post-image:hover {
	transform: scale(1.2, 1.2);
	transition: all 1s ease-out;
}