.searchField_block {
	display: block;
	position: relative;
}


.searchField_box {
	border: 1px #C4C4C4 solid;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	border-radius: 30px;
}

.searchField_icon {
	position: absolute;
	border: none;
}