.tab-layout {
  display: flex;
  flex-direction: column; 
}

.tab {
  overflow: hidden;
}

.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  background-color: white;
}

.tab-content {
	margin-left: 20px;
	margin-top: 10px;
}
